<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jingchengsoft.dzjplatform">

    <!-- 外部存储读写权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 安装包的权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- bugly所需权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- bugly所需权限 -->
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 闪屏界面 -->
        <activity
            android:name=".feature.splash.SplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor">

        </activity>
        <!-- App 首页 -->
        <activity
            android:name=".feature.home.HomeActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
            <!-- 程序入口 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--登陆-->
        <activity
            android:name=".feature.login.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--隐患排查-->
        <activity
            android:name=".feature.home.function.hiddencheck.activity.HiddenCheckActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >

        </activity>

        <!--领导带班检查添加-->
        <activity
            android:name=".feature.home.function.hiddencheck.activity.LeaderCheckAddActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--领导带班检查详情-->
        <activity
            android:name=".feature.home.function.hiddencheck.activity.LeaderCheckDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--安全专项检查添加-->
        <activity
            android:name=".feature.home.function.hiddencheck.activity.SafeCheckAddActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--安全专项检查详情-->
        <activity
            android:name=".feature.home.function.hiddencheck.activity.SafeCheckDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--安全监督日志添加-->
        <activity
            android:name=".feature.home.function.hiddencheck.activity.SafeLogAddActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--安全监督日志详情-->
        <activity
            android:name=".feature.home.function.hiddencheck.activity.SafeLogDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--安全检查问题-->
        <activity
            android:name=".feature.home.function.hiddencheck.activity.CheckQuestionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--安全检查问题添加-->
        <activity
            android:name=".feature.home.function.hiddencheck.activity.HiddenCheckQuestionAddActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--设备管理-->
        <activity
            android:name=".feature.home.function.devicemanage.activity.DeviceManageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--添加设备巡检记录-->
        <activity
            android:name=".feature.home.function.devicemanage.activity.InspectionAddActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--二维码扫描-->
        <activity
            android:name=".feature.home.function.devicemanage.activity.CodeScanActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--特种作业人员-->
        <activity
            android:name=".feature.home.function.specialwork.activity.SpecialWorkActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--特种作业人员详情-->
        <activity
            android:name=".feature.home.function.specialwork.activity.SpecialWorkDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--知识库-->
        <activity
            android:name=".feature.home.function.knowledge.activity.KnowledgeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--入职三级培训-->
        <activity
            android:name=".feature.home.function.training.activity.TrainingActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--入职三级培训人员详情-->
        <activity
            android:name=".feature.home.function.training.activity.TrainingDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--图片预览-->
        <activity
            android:name=".feature.common.activity.ImageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--应急管理-->
        <activity
            android:name=".feature.home.function.emergency.activity.EmergencyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--风险管控-->
        <activity
            android:name=".feature.home.function.riskmanage.activity.RiskManageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--风险管控详情-->
        <activity
            android:name=".feature.home.function.riskmanage.activity.RiskManageDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!--统计分析-->
        <activity
            android:name=".feature.home.function.statistic.activity.StatisticActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" >
        </activity>

        <!-- 浏览器 -->
        <activity
            android:name=".feature.home.web.BrowserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/web_title"
            android:launchMode="singleTop"
            android:screenOrientation="fullSensor" />
    </application>

</manifest>